.DS_Store
.vscode
.idea

# npm
node_modules
npm-debug.log

# my
/dist
**/.features-gen/**/*.spec.js
.cache
test-results
playwright-report
blob-report
/examples/playwright-bdd*.tgz
/examples/package-lock.json
/todo.txt
/test/**/report.*
/test/**/reports
/test/reporter-merge/features
/test/reporter-cucumber-junit/features
