.DS_Store
.vscode
.idea

# npm
node_modules
npm-debug.log

# my
/dist
**/.features-gen/**/*.spec.js
.cache
test-results
playwright-report
/examples/playwright-bdd*.tgz
/examples/package-lock.json
/todo.txt